@font-face {
  font-family: 'GT Walsheim Pro Black';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/GT-Walsheim-Pro-Black.eot');
  src: url('./fonts/GT-Walsheim-Pro-Black.eot?#iefix') format('embedded-opentype'), url('./fonts/GT-Walsheim-Pro-Black.woff') format('woff'), url('./fonts/GT-Walsheim-Pro-Black.ttf') format('truetype'), url('./fonts/GT-Walsheim-Pro-Black.svg#gt-walsheim-pro-black-oblique') format('svg');
}

@font-face {
  font-family: 'GT Walsheim Pro Black Oblique';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/GT-Walsheim-Pro-Black-Oblique.eot');
  src: url('./fonts/GT-Walsheim-Pro-Black-Oblique.eot?#iefix') format('embedded-opentype'), url('./fonts/GT-Walsheim-Pro-Black-Oblique.woff') format('woff'), url('./fonts/GT-Walsheim-Pro-Black-Oblique.ttf') format('truetype'), url('./fonts/GT-Walsheim-Pro-Black-Oblique.svg#gt-walsheim-pro-black-oblique') format('svg');
}
