@import '../variables';

.CollageCanvas {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;

  &__canvas,
  &__video-container,
  &__controls {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__canvas {
    background: $background-color-dark;
    color: $font-color-on-dark;
  }

  &__video {
    position: absolute;

    // Disables pause on click when the browser is native
    .vjs-tech {
      // pointer-events: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__facebook-btn,
  &__fullscreen-btn {
    height: 2rem;
  }

  &__links {
    align-items: center;
    bottom: 0;
    display: flex;
    font-family: 'GT Walsheim Pro Black';
    font-size: 1.4rem;
    font-style: normal;
    font-weight: bold;
    left: 0;
    overflow: hidden;
    padding: .5rem;
    position: absolute;
  }

  &__link {
    color: $font-color-on-dark;
    margin-right: .5rem;
  }

  &__fullscreen-btn {
    bottom: 0;
    cursor: pointer;
    overflow: hidden;
    padding: .5rem;
    position: absolute;
    right: 0;
    width: 3rem;

    img {
      height: 100%;
      width: 100%;
    }
  }
}
