$canvas-background: #111;
$overlay-background: rgba(0, 0, 0, .5);

.CollageCanvas {
  height: 100%;
  position: absolute;
  width: 100%;

  &__canvas,
  &__video-container,
  &__controls {
    height: 100%;
    position: absolute;
    width: 100%;
  }

  &__canvas {
    background: $canvas-background;
  }

  &__video {
    position: absolute;
  }

  &__controls {
    align-items: center;
    background: $overlay-background;
    display: none;
    justify-content: center;
    opacity: 0;

    &--visible {
      display: flex;
      opacity: 1;
    }
  }

  &__play-btn {
    display: block;
  }

  &__fullscreen-btn {
    bottom: 0;
    height: 7vmin;
    position: absolute;
    right: 0;
    width: 7vmin;
  }
}
