$canvas-background: #111;
$overlay-background: rgba(0, 0, 0, .5);

.CollageCanvas__canvas,
.CollageCanvas__video-container,
.CollageCanvas__controls {
  height: 100%;
  position: absolute;
  width: 100%;
}

.CollageCanvas__canvas {
  background: $canvas-background;
}

.CollageCanvas__video {
  position: absolute;
}

.CollageCanvas__controls {
  background: $overlay-background;
  opacity: 0;

  &--visible {
    opacity: 1;
  }
}
